<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/style.css">
  <title>Add</title>
</head>
<body>
  <div class="add-container">
    <h2>新規タスク</h2>
    <form action="/add" method="post" id="addTask">
      <label>
        <p>タスク名</p>
        <input type="text" name="taskName" id="addTaskName">
      </label>
      <label>
        <p>プロジェクト名</p>
        <input type="text" name="projectName" id="addProjectName">
      </label>
      <label>
        <p>期限</p>
        <input type="text" name="dueDate" id="addDueDate">
      </label>
      <label>
        <p>内容</p>
        <input type="text" name="description" id="addDescription">
      </label>
      <label>
        <p>優先度</p>
        <input type="text" name="priority" id="addPriority">
      </label>
      <button type="submit">追加</button>
    </form>
  </div>
</body>
</html>
