<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/style.css">
  <title>Tasks</title>
</head>
<body>
  <div>
    <h1>タスクリスト</h1>
    <p>ようこそ、<%= userName %> さん!</p>
  </div>
    <div>
      <a href="/logout">ログアウト</a>
    </div>
</body>
</html>
